<div>
	<div class='light-blue-block'>
		All icons inside this div are light blue, including a bell icon
		<IconifyIcon @icon='bi:bell-fill' @inline={{true}} />
		and stopwatch icon
		<IconifyIcon @icon='bi:stopwatch' @inline={{true}} />
	</div>
	<div class='orange-block'>
		This text and icon are orange:
		<IconifyIcon @icon='bi:bell-fill' @inline={{true}} />
	</div>
	<div>
		Red home icons (shows different ways to change color):
		<IconifyIcon class='red-icon' @icon='bx:bx-home' @inline={{true}} />
		<IconifyIcon style='color: red;' @icon='bx:bx-home' @inline={{true}} />
		<IconifyIcon @color='red' @icon='bx:bx-home' @inline={{true}} />
	</div>
	<div>Icon with palette:
		<IconifyIcon @icon='noto:paintbrush' @inline={{true}} /></div>
</div>